<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @curso.nome %>
</p>

<p>
  <strong>Duracao:</strong>
  <%= @curso.duracao %>
</p>

<p>
  <strong>Totalcredito:</strong>
  <%= @curso.totalCredito %>
</p>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
